[global]
server.socket_port = 8080

[/]
tools.staticdir.root = "/Users/misha/git/rvyt/appspot/"
tools.db.on = True

[/js]
tools.staticdir.on = True
tools.staticdir.dir = "js"

[/css]
tools.staticdir.on = True
tools.staticdir.dir = "css"

[/fonts]
tools.staticdir.on = True
tools.staticdir.dir = "fonts"

[/html]
tools.staticdir.on = True
tools.staticdir.dir = "static-html"
